SECRET_KEY=cambiar-esto-por-una-clave-secreta-larga
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=juanchupe_db
DB_USER=juanchupe_user
DB_PASSWORD=tu_password_seguro
DB_HOST=localhost
DB_PORT=5432

RESEND_API_KEY=re_xxxxxxxxxxxx
EMAIL_FROM=noreply@juanchupe.com
EMAIL_TO_ADMIN=admin@juanchupe.com

CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000
